.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.legend rect {
    fill: white;
    stroke: black;
    opacity: 0.8;
}

.col-md-0 {
    width: 0;
    overflow: hidden;
}
.col-md-0 {
    width: 0;
    overflow: hidden;
}

.page-header {
    margin-bottom: 40px;
    text-align: center;
}

[class*="col-"] {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.list-group-item {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.search-block {
    background-color: #debb27;
    border: 1px solid #b6991c;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.search-input {
    border: 0;
    background-color: #debb27;
    outline: 0;
    color: #fff;
    width: 250px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}